<div>
  <strong>Title:</strong>
  <%= @article.title %>
</div>

<div>
  <strong>Text:</strong>
  <%= @article.text %>
</div>

<%= link_to 'Edit', edit_article_path %>
<%= link_to 'Delete', destroy_article_path, method: :delete %>
<%= link_to 'Voltar', root_path %>
