<div>
  <h1>Title:</h1>
    <%= @article.title %>
  <h2>Text:</h2>
    <%= @article.text %>
</div>


<%= link_to 'Edit', edit_article_path(@article), class: 'btn btn-primary' %>
<%= link_to 'Back', root_path, class: 'btn btn-primary' %>
<%= link_to 'Delete', destroy_article_path, class: 'btn btn-danger', method: :delete %>
